.appbar {
  background-color: #ffffff; /* 흰색 배경 */
  color: #333333; /* 텍스트 색상 */
  padding: 16px; /* 여백 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* 드롭다운 메뉴의 절대 위치 조정을 위해 설정 */
}

.couponIcon {
  width: 100px; /* 쿠폰 아이콘 크기 */
  height: auto; /* 비율에 맞게 높이 조정 */
}

.regionButton {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #ffffff; /* 버튼 배경색 */
  border: 1px solid #ffffff; /* 테두리 추가 */
  border-radius: 4px; /* 둥근 모서리 */
  cursor: pointer; /* 포인터 커서 */
  position: relative; /* 드롭다운 메뉴의 절대 위치 조정을 위해 설정 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
}

.regionText {
  font-size: xx-large;
  font-weight: bold;
  margin-right: 8px; /* 지역명과 화살표 간격 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
}

.dropdownIcon {
  width: 24px; /* 드롭다운 아이콘의 너비 */
  height: 24px; /* 드롭다운 아이콘의 높이 */
  stroke: #333; /* 아이콘의 색상 */
}

.dropdownMenu {
  position: absolute;
  width: 19.3%; /* 버튼과 동일한 너비 */
  background-color: #ffffff; /* 드롭다운 배경색 */
  border: 1px solid #ffffff; /* 테두리 추가 */
  border-radius: 4px; /* 둥근 모서리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  z-index: 1000; /* 드롭다운 메뉴가 다른 요소 위에 오도록 설정 */
  max-height: 300px; /* 드롭다운 메뉴 최대 높이 설정 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 추가 */
  display: none; /* 기본적으로 숨김 */
}

.dropdownMenu.show {
  display: block; /* 메뉴가 열렸을 때 표시 */
}

.dropdownItem {
  font-size: xx-large;
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #ffffff; /* 기본 버튼 배경색 */
  border: none; /* 테두리 없애기 */
}

.dropdownItem:hover {
  background-color: #f0f0f0; /* 드롭다운 항목 호버 색상 */
}

.notificationIcon {
  width: 50px; /* 알림 아이콘 크기 */
  height: auto; /* 비율에 맞게 높이 조정 */
}

/* 앱바 아이템 간의 여백 조정 */
.appbar > * {
  margin: 0 8px; /* 아이템 간의 간격 조정 */
}
